.list-container {
  padding: 10px 50px;
  width: 50%;
}

.list-container.shrink {
  padding: 10px;
  width: 30%;
}

@media screen and (max-width: 1023px) {
  .list-container {
    padding: 10px;
    width: 100%;
  }
  .list-container.shrink {
    width: 100%;
  }
}
