.search-bar {
  display: flex;
  position: sticky;
  margin: 10px auto;
  width: 50%;
  gap: 20px;
  align-items: center;
}

.search-bar-home {
  cursor: pointer;
  display: block;
  font-size: 24px;
  font-weight: bold;
  color: var(--red);
}

.youtube-icon {
  display: none;
  width: 40px;
  height: 40px;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar input {
  width: 100%;
  padding: 8px 40px 8px 10px;
  border: 0.5px solid var(--dark-gray);
  border-radius: 20px;
  height: 40px;
  font-size: 16px;
}

.search-icon {
  position: absolute;
  right: 10px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 10px;
}

@media (max-width: 768px) {
  .search-bar {
    width: 95%;
  }

  .search-bar-home {
    display: none;
  }

  .youtube-icon {
    display: block;
  }
}
