.playback {
  padding: 10px;
  width: 70%;
}

.playback-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.playback-frame {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1023px) {
  .playback {
    width: 100%;
  }
}
